@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Fauna+One&display=swap');

body {
    font-family: 'Fauna One', serif;
}

h1, h2 {
    font-family: 'Cinzel', serif;
}

/* Game */

#question {
    display: flex;
    align-items: center;
    justify-content: center;
}

#answer-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.answer-button {
    display: flex;
    flex-direction: row;
    width: 30%;
    background-color: aqua;
    margin: 10px;
    padding: 30px;
}