@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Fauna+One&display=swap');

body {
    font-family: 'Fauna One', serif;
}

h1, h2 {
    font-family: 'Cinzel', serif;
}

/* Game */

.select-container {
    display: flex;
    flex-direction: row;
    width: 25%;
    background-color: aqua;
    margin-bottom: 10px;
}