@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Fauna+One&display=swap');

body {
    font-family: 'Fauna One', serif;
}

h1, h2 {
    font-family: 'Cinzel', serif;
}

/* Header */

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Buttons */

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btn {
    text-decoration: none;
    width: 10rem;
    height: 3rem;
    background-color: #d3d6db;
    color: #0e2431;
    border-radius: 17px;
    transition-duration: 0.8s;
    border: 2px solid #3a4750;
    font-family: 'cinzel', serif;
    font-size: 110%;
    font-weight: bold;
    margin-bottom: 10px;
}

.btn:hover {
    background-color: #be3144;
}

/* Index */

#home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.home-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    background-color: aquamarine;
}


/* Game */

#question {
    display: flex;
    align-items: center;
    justify-content: center;
}

#answer-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.answer-button {
    display: flex;
    flex-direction: row;
    width: 30%;
    background-color: aqua;
    margin: 10px;
    padding: 30px;
}

/* Game over and Leaderboard*/

.end-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    margin-bottom: 10px;
}

